<a href="https://colab.research.google.com/github/kathy5311/Gentrification_Prediction/blob/main/2019_2023_%EC%9E%90%EC%B9%98%EA%B5%AC%EB%B3%84_%EC%B6%94%EC%A0%95%EB%A7%A4%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
sale_df = pd.read_csv('서울시 상권분석서비스(추정매출-자치구).csv', encoding = 'CP949')

In [ ]:
sale_df.head(3)

,기준_년분기_코드,자치구_코드,자치구_코드_명,서비스_업종_코드,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,...,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,11110,종로구,CS300028,화초,1495850124,36765,1314004524,181845600,171773552,...,14178,882,14947,17876,345,10672,9937,6291,4030,1542
1,20191,11110,종로구,CS100004,양식음식점,21733503173,586239,15141392928,6592110245,2473306312,...,210914,51176,244199,295978,6781,212438,144750,90539,62719,22943
2,20191,11110,종로구,CS100007,치킨전문점,3247811505,111086,2414124197,833687308,387818146,...,40712,38887,60952,43654,2077,34735,25143,20359,16465,5826

In [ ]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 53 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        29304 non-null  int64
 1   자치구_코드           29304 non-null  int64
 2   자치구_코드_명         29304 non-null  object
 3   서비스_업종_코드        29304 non-null  object
 4   서비스_업종_코드_명      29304 non-null  object
 5   당월_매출_금액         29304 non-null  int64
 6   당월_매출_건수         29304 non-null  int64
 7   주중_매출_금액         29304 non-null  int64
 8   주말_매출_금액         29304 non-null  int64
 9   월요일_매출_금액        29304 non-null  int64
 10  화요일_매출_금액        29304 non-null  int64
 11  수요일_매출_금액        29304 non-null  int64
 12  목요일_매출_금액        29304 non-null  int64
 13  금요일_매출_금액        29304 non-null  int64
 14  토요일_매출_금액        29304 non-null  int64
 15  일요일_매출_금액        29304 non-null  int64
 16  시간대_00~06_매출_금액  29304 non-null  int64
 17  시간대_06~11_매출_금액  29304 non-null  int64
 18  시간대_11~14_매출_금액  29304 non-null  int64
 19  시간대_14~17_매출_금액  29304 non-null  int64
 20  시간대_17~21_매출_금액  29304 non-null  int64
 21  시간대_21~24_매출_금액  29304 non-null  int64
 22  남성_매출_금액         29304 non-null  int64
 23  여성_매출_금액         29304 non-null  int64
 24  연령대_10_매출_금액     29304 non-null  int64
 25  연령대_20_매출_금액     29304 non-null  int64
 26  연령대_30_매출_금액     29304 non-null  int64
 27  연령대_40_매출_금액     29304 non-null  int64
 28  연령대_50_매출_금액     29304 non-null  int64
 29  연령대_60_이상_매출_금액  29304 non-null  int64
 30  주중_매출_건수         29304 non-null  int64
 31  주말_매출_건수         29304 non-null  int64
 32  월요일_매출_건수        29304 non-null  int64
 33  화요일_매출_건수        29304 non-null  int64
 34  수요일_매출_건수        29304 non-null  int64
 35  목요일_매출_건수        29304 non-null  int64
 36  금요일_매출_건수        29304 non-null  int64
 37  토요일_매출_건수        29304 non-null  int64
 38  일요일_매출_건수        29304 non-null  int64
 39  시간대_건수~06_매출_건수  29304 non-null  int64
 40  시간대_건수~11_매출_건수  29304 non-null  int64
 41  시간대_건수~14_매출_건수  29304 non-null  int64
 42  시간대_건수~17_매출_건수  29304 non-null  int64
 43  시간대_건수~21_매출_건수  29304 non-null  int64
 44  시간대_건수~24_매출_건수  29304 non-null  int64
 45  남성_매출_건수         29304 non-null  int64
 46  여성_매출_건수         29304 non-null  int64
 47  연령대_10_매출_건수     29304 non-null  int64
 48  연령대_20_매출_건수     29304 non-null  int64
 49  연령대_30_매출_건수     29304 non-null  int64
 50  연령대_40_매출_건수     29304 non-null  int64
 51  연령대_50_매출_건수     29304 non-null  int64
 52  연령대_60_이상_매출_건수  29304 non-null  int64
dtypes: int64(50), object(3)
memory usage: 11.8+ MB

In [ ]:
# 사용할 컬럼

sale_df = sale_df[['기준_년분기_코드', '자치구_코드_명', '서비스_업종_코드_명', '당월_매출_금액', '당월_매출_건수', '주중_매출_금액', '주중_매출_건수',
                  '주말_매출_금액', '주말_매출_건수', '남성_매출_금액', '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액',
                  '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액',
                  '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수',
                  '연령대_60_이상_매출_건수']]

sale_df.head(3)

,기준_년분기_코드,자치구_코드_명,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주중_매출_건수,주말_매출_금액,주말_매출_건수,남성_매출_금액,...,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,종로구,화초,1495850124,36765,1314004524,29363,181845600,7402,465985416,...,286985195,225269811,249285099,77648643,345,10672,9937,6291,4030,1542
1,20191,종로구,양식음식점,21733503173,586239,15141392928,410321,6592110245,175918,8465129069,...,4967963671,3236855795,2407946855,1049872442,6781,212438,144750,90539,62719,22943
2,20191,종로구,치킨전문점,3247811505,111086,2414124197,81739,833687308,29347,1765155389,...,698362320,599689873,471883377,161088031,2077,34735,25143,20359,16465,5826

In [ ]:
# 기준년분기_코드 - 2019, 2023년만

sale_df['기준_년분기_코드'].value_counts()

20232    1547
20221    1546
20202    1546
20224    1545
20203    1544
20213    1544
20212    1544
20231    1543
20222    1543
20204    1543
20223    1542
20214    1541
20211    1541
20233    1541
20194    1540
20193    1540
20201    1539
20192    1539
20191    1536
Name: 기준_년분기_코드, dtype: int64

In [ ]:
sale_df['기준_년분기_코드'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 29304 entries, 0 to 29303
Series name: 기준_년분기_코드
Non-Null Count  Dtype
--------------  -----
29304 non-null  int64
dtypes: int64(1)
memory usage: 229.1 KB

### 2019, 2023 데이터만 살리기

In [ ]:
sale_df['기준_년분기_코드'] = [str(y)[:4] for y in sale_df['기준_년분기_코드']]

In [ ]:
#sale_df.dtypes

In [ ]:
sale_df_19 = sale_df[sale_df['기준_년분기_코드'] == '2019']

In [ ]:
sale_df_23 = sale_df[sale_df['기준_년분기_코드'] == '2023']

In [ ]:
sale_df_1923 = pd.concat([sale_df_19, sale_df_23])

In [ ]:
sale_df_1923['기준_년분기_코드'].value_counts()

2019    6155
2023    4631
Name: 기준_년분기_코드, dtype: int64

In [ ]:
sale_df_1923.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10786 entries, 0 to 29303
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기준_년분기_코드        10786 non-null  object
 1   자치구_코드_명         10786 non-null  object
 2   서비스_업종_코드_명      10786 non-null  object
 3   당월_매출_금액         10786 non-null  int64
 4   당월_매출_건수         10786 non-null  int64
 5   주중_매출_금액         10786 non-null  int64
 6   주중_매출_건수         10786 non-null  int64
 7   주말_매출_금액         10786 non-null  int64
 8   주말_매출_건수         10786 non-null  int64
 9   남성_매출_금액         10786 non-null  int64
 10  여성_매출_금액         10786 non-null  int64
 11  연령대_10_매출_금액     10786 non-null  int64
 12  연령대_20_매출_금액     10786 non-null  int64
 13  연령대_30_매출_금액     10786 non-null  int64
 14  연령대_40_매출_금액     10786 non-null  int64
 15  연령대_50_매출_금액     10786 non-null  int64
 16  연령대_60_이상_매출_금액  10786 non-null  int64
 17  연령대_10_매출_건수     10786 non-null  int64
 18  연령대_20_매출_건수     10786 non-null  int64
 19  연령대_30_매출_건수     10786 non-null  int64
 20  연령대_40_매출_건수     10786 non-null  int64
 21  연령대_50_매출_건수     10786 non-null  int64
 22  연령대_60_이상_매출_건수  10786 non-null  int64
dtypes: int64(20), object(3)
memory usage: 2.0+ MB

### 서비스 업종명 - 프랜차이즈 수가 많은 업종으로 한정 짓기 위해 "점포-자치구" 데이터 활용
### 엑셀로 저장해서 인사이트 얻기!

In [ ]:
market_df = pd.read_csv('서울시 상권분석서비스(점포-자치구).csv', encoding = 'CP949')
market_df.head(7)

,기준_년분기_코드,자치구_코드,자치구_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,11740,강동구,CS100004,양식음식점,139,158,10,15,5,8,19
1,20191,11740,강동구,CS300004,핸드폰,209,215,6,12,4,9,6
2,20191,11740,강동구,CS200034,여관,124,125,2,2,5,6,1
3,20191,11110,종로구,CS200005,스포츠 강습,88,92,2,2,5,5,4
4,20191,11110,종로구,CS300020,서적,263,263,1,2,2,6,0
5,20191,11110,종로구,CS300036,조명용품,958,959,1,7,1,9,1
6,20191,11140,중구,CS300038,자동차부품,31,31,0,0,0,0,0

In [ ]:
market_df['기준_년분기_코드'] = [str(y)[:4] for y in market_df['기준_년분기_코드']]

In [ ]:
market_df_19 = market_df[market_df['기준_년분기_코드'] == '2019']
market_df_23 = market_df[market_df['기준_년분기_코드'] == '2023']

In [ ]:
market_df_1923 = pd.concat([market_df_19, market_df_23])

market_df_1923 = market_df_1923[['기준_년분기_코드', '자치구_코드_명', '서비스_업종_코드_명', '프랜차이즈_점포_수']]
market_df_1923.head(3)

  기준_년분기_코드 자치구_코드_명 서비스_업종_코드_명  프랜차이즈_점포_수
0      2019      강동구       양식음식점          19
1      2019      강동구         핸드폰           6
2      2019      강동구          여관           1

In [ ]:
market_df_1923_sort['서비스_업종_코드_명'].unique()

array(['편의점', '커피-음료', '한식음식점', '치킨전문점', '패스트푸드점', '분식전문점', '제과점', '화장품',
       '호프-간이주점', '일식음식점', '양식음식점', '일반교습학원', '미용실', '세탁소', '문구', '의약품',
       '슈퍼마켓', '독서실', '외국어학원', '안경', '피부관리실', '중식음식점', '예술학원', '자동차수리',
       '일반의류', '골프연습장', '반찬가게', '스포츠 강습', 'PC방', '스포츠클럽', '네일숍', '노래방',
       '전자상거래업', '게스트하우스', '핸드폰', '일반의원', '시계및귀금속', '애완동물', '비디오/서적임대',
       '당구장', '서적', '유아의류', '건축물청소', '기타오락장', '청과상', '자동차미용', '신발', '여관',
       '자동차부품', '육류판매', '컴퓨터및주변장치판매', '운동/경기용품', '섬유제품', '부동산중개업', '동물병원',
       '변리사사무소', '인테리어', '사진관', '의료기기', '완구', '가방', '여행사', '통번역서비스',
       '고시원', '가전제품', '철물점', '수산물판매', '중고차판매', '컴퓨터학원', '전자게임장', '통신기기수리',
       '조명용품', '예술품', '화초', '미용재료', '주류도매', '가구', '중고가구', '녹음실', '미곡판매',
       'DVD방', '주유소', '모터사이클및부품', '한복점', '가정용품임대', '치과의원', '복권방', '의류임대',
       '모터사이클수리', '악기', '변호사사무소', '세무사사무소', '가전제품수리', '기타법무서비스', '볼링장',
       '자전거 및 기타운송장비', '한의원', '재생용품 판매점', '회계사사무소', '법무사사무소'],
      dtype=object)

In [ ]:
food = ['커피-음료', '한식음식점', '치킨전문점', '패스트푸드점', '분식전문점', '제과점', '호프-간이주점', '일식음식점',
              '중식음식점', '반찬가게']

In [ ]:
market_df_1923 = market_df_1923[market_df_1923['서비스_업종_코드_명'].isin(food)]

In [ ]:
market_df_1923['서비스_업종_코드_명'].unique()

array(['반찬가게', '커피-음료', '한식음식점', '패스트푸드점', '제과점', '분식전문점', '일식음식점',
       '중식음식점', '호프-간이주점', '치킨전문점'], dtype=object)

In [ ]:
market_df_1923_sort = market_df_1923.sort_values(by=['프랜차이즈_점포_수'], ascending=False)

In [ ]:
market_df_1923_sort

      기준_년분기_코드 자치구_코드_명 서비스_업종_코드_명  프랜차이즈_점포_수
43669      2023      강남구       커피-음료         716
46180      2023      강남구       커피-음료         707
41095      2023      강남구       커피-음료         704
3604       2019      강남구       커피-음료         692
6109       2019      강남구       커피-음료         684
...         ...      ...         ...         ...
45918      2023      종로구        반찬가게           0
43577      2023      금천구        반찬가게           0
41370      2023      도봉구        반찬가게           0
46125      2023      금천구        반찬가게           0
41170      2023      종로구        반찬가게           0

[1750 rows x 4 columns]

In [ ]:
market_df_1923_sort.to_excel('서비스업종과_프랜차이즈점포수.xlsx', index=False)

### 서비스업종과_프랜차이즈점포수 엑셀 파일 참고해서 자치구별 추정매출 데이터 서비스업종 한정 짓기

In [ ]:
sale_df_1923['서비스_업종_코드_명'].unique()

array(['화초', '양식음식점', '치킨전문점', '시계및귀금속', '일반의원', '의약품', '의료기기', '화장품',
       '철물점', '가방', '고시원', '가전제품수리', '반찬가게', '육류판매', '가구', '패스트푸드점',
       '외국어학원', '서적', '한의원', '일식음식점', '스포츠 강습', '일반의류', '피부관리실', '수산물판매',
       '청과상', '분식전문점', '여관', '섬유제품', '중식음식점', '안경', '컴퓨터및주변장치판매', '골프연습장',
       '완구', '한식음식점', '핸드폰', '신발', '미용실', '자동차수리', '문구', '치과의원', '세탁소',
       '미곡판매', '자동차미용', '일반교습학원', '운동/경기용품', '가전제품', '호프-간이주점', '네일숍',
       '커피-음료', '슈퍼마켓', '자전거 및 기타운송장비', '조명용품', 'PC방', '애완동물', '인테리어',
       '스포츠클럽', '전자상거래업', '당구장', '편의점', '제과점', '노래방', '부동산중개업', '예술학원'],
      dtype=object)

In [ ]:
# fm = food market^^

sale_df_1923_fm = sale_df_1923[sale_df_1923['서비스_업종_코드_명'].isin(food)]
sale_df_1923_fm['서비스_업종_코드_명'].unique()

array(['치킨전문점', '반찬가게', '패스트푸드점', '일식음식점', '분식전문점', '중식음식점', '한식음식점',
       '호프-간이주점', '커피-음료', '제과점'], dtype=object)

In [ ]:
sale_df_1923_fm.head(5)

,기준_년분기_코드,자치구_코드_명,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주중_매출_건수,주말_매출_금액,주말_매출_건수,남성_매출_금액,...,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
2,2019,종로구,치킨전문점,3247811505,111086,2414124197,81739,833687308,29347,1765155389,...,698362320,599689873,471883377,161088031,2077,34735,25143,20359,16465,5826
12,2019,중구,반찬가게,38284145939,2500403,34017974426,2406577,4266171513,93826,17383279689,...,5379723645,10004039112,4532766065,7021760366,37603,606684,671009,565477,287413,140646
13,2019,중구,치킨전문점,2731665570,89130,2218031138,70991,513634432,18139,1423748374,...,608073771,555146650,419589604,135615039,856,21215,21426,18596,13951,5451
17,2019,중구,패스트푸드점,5578422284,547048,4185289116,419626,1393133168,127422,2332097223,...,1452906110,879053376,487472218,198016843,9420,190835,151583,89646,50438,24991
22,2019,용산구,일식음식점,6395079037,151674,4652152140,113396,1742926897,38278,2748801998,...,1421544324,966732215,737942043,428802904,2100,46368,36970,24185,16374,9145

In [ ]:
sale_df_1923_fm.to_excel('김보경_자치구별_추정매출_1.xlsx', index=False)